aiohttp==24.1.0
html2text==2025.4.15
llama_index==0.12.32
llama_index_llms_openai==0.3.38
llama_index_llms_deepseek==0.1.1
llama_index_llms_openrouter==0.3.1
llama_index_embeddings_huggingface==0.5.3
llama_index_tools_google==0.3.0
llama_index_tools_tavily_research==0.3.0
gradio==5.25.2
numpy==2.2.5
elevenlabs==1.57.0
kokoro==0.9.4
misaki==0.9.4
misaki[en]==0.9.4
misaki[ja]==0.9.4
openai==1.75.0
openinference-instrumentation-llama-index==4.2.1
arize-phoenix==8.26.3
fugashi[unidic]==1.4.0
fish_audio_sdk==2025.4.2